.gallery {
    position: relative;
    
    width: 100%;

    padding: 50px;
    margin-bottom: 50px;
    border-radius: 25px;


    background: #F6F6F6;
}

.gallery ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    position: relative;

    gap: 50px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 970px) {
    .gallery {
        width: 100%;

        padding: 0;
        border-radius: 0;

        background: white;
    }

    .gallery ul {
        flex-direction: column;
        gap: 30px;
    }
}