.gallery {

    position: relative;
    overflow: hidden;

    width: 100%;

    margin-bottom: 50px;

    border-radius: 25px;

    background: #F6F6F6;
}

.gallery ul {

    max-height: 830px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    position: relative;
    overflow: auto;
    list-style: none;

    gap: 50px;

    padding: 50px;
    margin: 0;
    margin-right: -25px;
    padding-right: 75px;
}

@media screen and (max-width: 1600px) {
    .gallery ul {
        margin-right: -15px;
        padding-right: 65px;

    }
}

@media screen and (max-width: 970px) {

    .gallery {

        width: 100%;

        background: white;
        border-radius: 0;
        overflow: none;

    }

    .gallery ul {

        display: block;
        padding: 25px;
        padding-right: 45px;
    }
}

@media screen and (max-width: 550px) {

    .gallery ul {
        padding-right: 40px;
    }
}