.thumb {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    height: 340px;
    width: 340px;
}

.thumbCover {
    color: #FF6060;
    width: 100%;
}

.thumbTitle {
    color: white;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;
}