.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    width: 300px;

    margin-left: 10px;
}

nav a {
    font-size: 24px;
    font-weight: 500;

    color: #FF6060;
    text-decoration: none;
}

@media screen and (max-width: 970px) {

    .nav {
        height: 17px;
        width: 140px;
    }

    nav a {
        font-size: 12px;

        text-transform: uppercase;
    }
}