.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    margin-left: auto;  
}

nav a {
    font-weight: 400;
    color: #FF6060;
    text-decoration: none;
}