.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
    background-color: black;
    position: relative;
}

.section1 img {
    width: 100%;
    border-radius: 25px;
    opacity: 0.7;
    object-fit: cover;
}

.section1 p {
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 500;
    
}