/*GENERALE*/

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  width: auto;
  max-width: 2000px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
}

@media screen and (max-width: 970px) {

  body{
    padding: 20px;
  }
}