/*GENERALE*/

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  width: auto;
  max-width: 2000px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
}