.tags {
    height: 25px;
    width: 115px;
    background-color: #FF6060;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px 10px 30px;
}