.carousel {
  position: relative;

  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  background: #FF6060;
}

.carouselPictures-box {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  transform: translateX(0%);

  transition: 300ms;
}

.carouselPicture {
  width: 100%;
  height: 100%;

  color: white;
  text-decoration: none;

  object-fit: cover;
}

.carouselNo-pic-message {
  margin: 0 2rem;
  width: 100%;

  color: white;
  font-size: 14px;
  text-align: center;
}

.carouselNav,
.carouselCounter {
  position: absolute;

  color: white;
}

.carouselNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;

  width: 100%;
  height: 100%;
}

.carousel i {
  margin: 1.5rem;

  font-size: 5rem;
  text-shadow: 0 0 2px rgb(0, 0, 0, 70%);

  cursor: pointer;
}

.carouselCounter {
  width: 100%;
  bottom: 1.5rem;

  font-size: 18px;
  text-align: center;
  text-shadow: 0 0 2px rgb(0, 0, 0, 70%);
}

@media screen and (max-width: 970px) {
  .carousel {
    height: 330px;
    border-radius: 1rem;
  }

  .carousel i {
    font-size: 3.5rem;
  }

  .carouselCounter {
    bottom: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .carousel {
    height: 255px;
    border-radius: 10px;
  }

  .carousel i {
    margin: 1rem;

    font-size: 2rem;
  }

  .carouselCounter {
    bottom: 0.5rem;
  }
}